<!--
Usage:
- http://localhost:5000?cwidth=1000&cheight=1000 : Customize canvas size in pixel. Default: 800x800.
- http://localhost:5000?rows=5&cols=5 : Customize checker board's number of rows & columns. Default: 4x4.
- http://localhost:5000?frate=15 : Customize flickering rate in Hertz. Default: 0.

Params can be combined. For example: http://localhost:5000?cwidth=1000&cheight=1000&rows=5&cols=5&frate=15
-->

<html>
	<head>
		
		<!-- SceneJS -->
		<script src="static/js/scenejs/scenejs.js"></script>
		
		<!-- Unlock graphics helper -->
		<script src="static/js/graphics-helpers.js"></script>
		
		<!-- Draw flickering checkerboard -->
		<script>
		var canvasID = "flickerboard-canvas";
		
		window.onload = function() {
		
			// Parse query string params
			var nRows = location.search.match(/(\?|&)rows=\d+/);
			nRows = (nRows) ? nRows[0].match(/\d+/)[0] : 4;
			var nCols = location.search.match(/(\?|&)cols=\d+/);
			nCols = (nCols) ? nCols[0].match(/\d+/)[0] : 4;
			var frate = location.search.match(/(\?|&)frate=\d+/);
			frate = (frate) ? frate[0].match(/\d+/)[0] : null;
			var cwidth = location.search.match(/(\?|&)cwidth=\d+/);
			cwidth = (cwidth) ? cwidth[0].match(/\d+/)[0] : 800;
			var cheight = location.search.match(/(\?|&)cheight=\d+/);
			cheight = (cheight) ? cheight[0].match(/\d+/)[0] : 800;
			
			// Set canvas size
			var canvas = document.getElementById(canvasID);
			canvas.style.width = cwidth;
			canvas.style.height = cheight;
		
			// Init scenejs
			SceneJS.setDebugConfigs({
				webgl: {
					logTrace: true
				},
				shading: {
					logScripts: true
				}
			});
			SceneJS.setConfigs({
				pluginPath:"static/js/scenejs/plugins"
			});			
			
			// Custom helper functions tailored to suit Unlock's needs
			var sceneJSHelper = new SceneJSHelper();
			
			// Construct checker board scene node definition
			var board = sceneJSHelper.createCheckerBoardNode(nRows,nCols);

			// Scene definition
			var scene = SceneJS.createScene({		
				canvasId: canvasID,
			
				nodes:[
				
					// Root node
					{
						type:"flags",
						id:"root",
						
						nodes:[
						
							// View matrix								
							{					
								type:"lookAt",
								eye:{ z:6 },
								
								// Attach checker board definition
								nodes:board
							} // ~View matrix
							
						]
					} // ~Root node
					
				]				
			}); // ~Scene def
			
			// Set flickering screen
			if (frate) {				
				sceneJSHelper.setFlickeringScene(scene, "root", frate);
			}					
		}	
		</script>
		<!-- ~Draw flickering checkerboard -->
		
		<style>
		#flickerboard
		{
			/* Fixed at bottom right corner of the browser */
			/*
			position: fixed;
			bottom: 0;
			right: 0;
			*/
			
			/* Float right */
			/*
			float: right;
			*/
			
			/* Centered */
			/*
			margin: auto;
			*/
		}
		</style>
	</head>
	
	<body>		
		<div id="flickerboard">
			<canvas id="flickerboard-canvas"></canvas>
		</div>
	</body>
</html>
